.socials {
  display: flex;
  justify-content: center;

  &__item {
    margin: 0 10px;
  }

  &__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;

    &.fb {
      background-image: url("../../img/socials/facebook.svg");
    }

    &.yt {
      background-image: url("../../img/socials/youtube.svg");
    }
  }
}