.rcb-posts {
  min-height: 100vh;
  padding-top: 50px;
  background: url("../../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .rcb-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
}

@media(max-width: 767px) {

  .rcb-posts {

    .rcb-items {
      justify-content: center;
    }
  }
}

@media(max-width: 575px) {

  .rcb-posts {
    padding: 50px 0;
  }
}