.rcb-posts {
  height: 100vh;
  padding-top: 50px;
  background: url("../../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .rcb-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
}