$body-background: #fff;
$body-font-family: 'CirceRegular';
$body-font-size: 18px;
$body-color: #000;
$color-white: #FFFFFF;

$link-text-decoration: none;
$link-hover-text-decoration: none;

$transition-primary: .3s ease;

/*
** Grid **
 */
$column-count: 12;
$gutter: 30px;

$media-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-width: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1140px
);